body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
}

.main-title {
  text-align: center;
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}


.form-box {
  background: white;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
}

.form-box input,
.form-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.form-box button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  border: none;
  color: white;
  cursor: pointer;
}


.task {
  background: white;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.time {
  font-size: 12px;
  color: gray;
}

.actions button {
  margin-right: 5px;
  cursor: pointer;
}
